@font-face{
font-family: A;
src: url('Kingdom_Hearts_Font.ttf');
}

@font-face{
font-family: B;
src: url('Coda.ttf');
}
body {
    background-color:black;
    
}
#cont_llaves {
    background-image:url('img/llaves.png');      
    
}
.tabla {
    background-color:darkgrey;
    margin:0 auto;
    width: 70%;
    height:auto;
    margin-top:10px;

}
.tabla label {
    color:black;
    text-align:center;
    }
.img
    {
    max-width:15vw;
    max-height:20vh;
}
.cell_img {
    border:3px solid black;
    width:12%;
}
.cell_let{
    border:3px solid black;
    width:43%;
    text-align:center;
    font-family: B;
    font-size: 25px;
}

.cell_let_e{
    border:3px solid black;
    width:12%;
    text-align:center;
}

.cell_header {
    background-color: yellow;
     border:3px solid black;
    opacity: 0.8;
        width:12%;
    text-align:center;
}

