body {
    background-color:black;
}
cont_menu{
    width:100%;
    height:auto;
}
.menu_pers{
    
    background-color:black;

}
.menu_mundos {
    position:relative;
    left:15%;
}
.bt{
    margin-top:2px;
    margin-left:2px;
    padding: 15px;
    padding-bottom:0px;
  
}

#div_glob {
    -webkit-box-shadow: 1px -5px 32px 1px rgba(245,239,210,0.8);
    -moz-box-shadow: 1px -5px 32px 1px rgba(245,239,210,0.8);
    box-shadow: 1px -5px 32px 1px rgba(245,239,210,0.8);
    padding-top: 10px;
    margin-top:-20px;
    background:url("img/004.png");
    width:100%;
    height:100%;
    background-repeat:no-repeat;    
    background-size:contain;
    background-position-x:right;
    background-color:#191919;

}

#div_globMun {
    -webkit-box-shadow: 1px -5px 32px 1px rgba(245,239,210,0.8);
    -moz-box-shadow: 1px -5px 32px 1px rgba(245,239,210,0.8);
    box-shadow: 1px -5px 32px 1px rgba(245,239,210,0.8);
    padding-top: 10px;
    margin-top:-20px;
    background:url("img/005.png");
    width:100%;
    height:100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-color: #060606;    
    background-position-x: center; 
}


.div_pers {
    margin: 0 auto;
    padding: 10px;
    width:40%;
    min-height: 46vh;
    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    border: 2px dashed #000000;
    color: white;
}
#botones2{
    margin: auto;
}

.div_mun {
    margin: 0 auto;
    padding: 10px;
    margin-left: 5vw;
    width:60%;
    min-height: 46vh;
    color: white; 
}



.div_mun > h1 {
        color: white;
}
.imagenpers{
    float: left;

}
.texto_mun
{
    color: white;  
    min-width: 600px;  
}
#div_sora {
     border: 5px dashed #FF0000;
}
#div_donald{
    border: 5px dashed #0000EE;
}
#div_goofy{
     border: 5px dashed #00A900;
}
#div_riku{
    border: 5px dashed #005AFF;
}
#div_mickey{
    border: 5px dashed #b0a7b0;
}
#div_kairi{
    border: 5px dashed #f320a1;
}

