body
{
    padding:0;
    margin:0; 
    
}
#contenedor{
    background: url('img/1.png') ;
    background-size:contain;
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    position:fixed;
}

#tx_historia {

    color: white;
    width: 35vw;
	height: 35vh;
    padding:10px;
    float:left; 
    margin:60px; 
    font-size: 1.9vh; 
}
.imagenMickey {
    float:left;
    
}
#tx_historia p {
    margin-top:-10px;
}

/**#tx_scroll
{
    width: 35vw;
	height: 35vh;
    float:right;  
    padding:10px;
    margin:60px;  
}*/
#pie {
    color:white;
    text-align:center;
}
