body {
    
}
#cont_llaves {
    background-image:url('img/llaves.png');   
    
}
.tabla {
    background-color:white;
    opacity:0.5;
    margin:0 auto;
    width: 70%;
    height:auto;
    border:1px solid yellow;
}
.tabla label {
    color:black;;
    }
.img
    {
    max-width:10vw;
    max-height:15vh;
}
.cell_img {
    border:1px solid yellow;
    width:12%;
}
.cell_let{
    border:1px solid yellow;
    width:43%;
    text-align:center;
}

